.resultsPage {
  width: 100%;
  padding-top: 50px;
}

.resultsPage h3 {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.856px;
  margin-bottom: 30px;
}

@media screen and (max-width: 550px) {
  .resultsPage {
    padding-top: 30px;
    padding-left: 15px;
  }

  .resultsPage h3 {
    font-size: 20px;
  }

  .resultsTable {
    font-size: 12px;
  }

  .resultsTable,
  td {
    padding: 4px 3px !important;
  }
}
