* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loader {
  width: 20px;
  height: 20px;
  border: 3px solid #fff;
  border-bottom-color: #f13838;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow-x: auto;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
  cursor: text;
}

.skeleton-cell {
  height: 35px;
  width: 100px;
  background: linear-gradient(90deg, #faf9f9 25%, #fcfbfb 50%, #fdfcfc 75%);
  background-size: 400% 100%;
  animation: loadingAnimation 2s infinite linear;
}

@keyframes loadingAnimation {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
