.nav-container {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 110px;
  padding: 0 70px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 100;
}
.nav-image1 {
  width: 145px;
  height: 45px;
  flex-shrink: 0;
}

.nav-image2 {
  width: 72px;
  height: 60px;
  flex-shrink: 0;
}

.avatarLogo {
  display: flex;
  gap: 40px;
  align-items: center;
}

.avatar {
  flex-grow: 0;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .nav-container {
    height: 80px;
    padding: 0 20px;
  }

  .nav-image1 {
    width: 90px;
    height: 35px;
  }

  .nav-image2 {
    width: 50px;
    height: 40px;
  }

  .avatarLogo {
    gap: 20px;
  }
}
