.entitiesTextPage {
  width: 100%;
  padding-top: 50px;
}

.entitiesTextPage h3 {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.856px;
  margin-bottom: 30px;
}

.analyzedTextContainer {
  width: 100%;
  min-height: fit-content;
  padding: 30px 20px;
  background-color: #f2f2f2;
  display: flex;
  flex-wrap: wrap;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.analyzedTextContainer span {
  padding: 8px 12px;
  display: inline-block;
  height: fit-content !important;
  margin: 0 5px;
  margin-bottom: 15px;
}

.matchedText {
  background: #aa9cfc;
  border-radius: 5px;
}

@media screen and (max-width: 600px) {
  .entitiesTextPage {
    width: 90%;
    padding-top: 30px;
  }
  .entitiesTextPage h3 {
    font-size: 20px;
  }

  .analyzedTextContainer span {
    margin-bottom: 10px;
  }
}
