.clinicalFindings {
  padding: 80px 40px;
  border-right: 3px solid rgb(187, 187, 187) !important;
  width: 50% !important;
}

.clinicalFindings h3 {
  color: #000;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 26.856px;
  margin-bottom: 50px;
}

@media screen and (max-width: 650px) {
  .clinicalFindings {
    padding: 60px 30px;
    border-right: none !important;
    border-bottom: 3px solid rgb(187, 187, 187) !important;
    width: 100% !important;
  }

  .clinicalFindings h3 {
    font-size: 22px;
  }
}
